/*body{
	background: url(../img/about-bg.jpg) center top no-repeat fixed;
    background-size: cover;
    padding: 0px 0 40px 0;
    position: relative;
}*/
.navbar-light .navbar-toggler-icon {
	    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}

/*.img-fluid{
    width: 70%
}*/

#footer{
	background: #006084; 
	opacity: 0.9;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

.icon i{
    width: 600px !important;
}

.social-links i{
    color: white;
}



.carousel-inner{
	max-height: 25rem;
}

.logo{
    border-left: 4px solid #fff;
    height: 70px;
}